---
import Layout from '../../../layouts/Layout.astro'
import Section from '../../../components/ui/Section.astro'
---
<Layout title="Industry Template">
  <Section>
    <h1>Industry — Template</h1>
    <ul>
      <li>1. Hero — табы с переключением всех индустрий (возможно это и есть индексная страница ?)</li>
      <li>2. Контент индустрии — повторяющийся блок: title, текст, видео, подвязанные продукты (из CMS)</li>
      <li>3. Слайдер — переход к просмотру процессов (Tasks)</li>
    </ul>
  </Section>
</Layout>
