---
import Layout from '../../layouts/Layout.astro'
import Section from '../../components/ui/Section.astro'
---
<Layout title="Demonstration Cases">
  <Section>
    <h1>Demonstration Cases</h1>
    <ul>
      <li>1. Фильтрация слева — по бренду</li>
      <li>2. Листинг кейсов (из CMS) — карточка: картинка, название, подвязанная серия продукта</li>
      <li>3. Пагинация</li>
    </ul>
  </Section>
</Layout>
