---
import Section from '../ui/Section.astro'
import Button from '../ui/Button.astro'
---
<Section class="bg-bg-primary min-h-[100svh]" hasBg={true}>

  <Fragment slot="bg">
    <img
      src="/images/404-bg.webp"
      alt=""
      class="absolute bottom-0 left-0 right-0 w-full md:left-auto md:w-[70%] h-auto h-auto object-contain object-bottom md:object-right-bottom pointer-events-none"
    />
  </Fragment>

  <div class="relative z-10 flex flex-col items-start pt-12 md:pt-[160px] md:max-w-[507px]">
    <h1 class="text-h1 text-text-alternative mb-[32px] max-md:mb-[24px] w-full text-balance">
      Being lost can be an adventure
    </h1>
    <p class="text-h6 text-text-alternative mb-[32px]">
      But not right now.
    </p>
    <Button label="Return Home" href="/" variant="black" />
  </div>

</Section>
