---
import Layout from '../layouts/Layout.astro'
import Section from '../components/ui/Section.astro'
---
<Layout title="404">
  <Section>
    <h1>404</h1>
    <ul>
      <li>1. Title</li>
      <li>2. Текст</li>
      <li>3. Кнопка → / (главная)</li>
    </ul>
  </Section>
</Layout>
