---
import Layout from '../layouts/Layout.astro'
import Section from '../components/ui/Section.astro'
---
<Layout title="Contact us">
  <Section>
    <h1>Contact us</h1>
    <ul>
      <li>1. Title + текст + ссылки email и телефон</li>
      <li>2. Два столбца:
        <ul>
          <li>— Слева: карта с локациями (маркеры офисов)</li>
          <li>— Справа: форма обратной связи (name, company, email, phone, message, кнопка submit)</li>
        </ul>
      </li>
    </ul>
  </Section>
</Layout>
