---
import Layout from '../layouts/Layout.astro'
import Section from '../components/ui/Section.astro'
---
<Layout title="Download Center">
  <Section>
    <h1>Download Center</h1>
    <ul>
      <li></li>
    </ul>
  </Section>
</Layout>
