---
import Layout from '../layouts/Layout.astro'
import Section from '../components/ui/Section.astro'
---
<Layout title="Home">
  <Section>
    <h1>DH Robotics</h1>

    <h2>Home</h2>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/styleguide">Style Guide</a></li>
    </ul>

    <h2>Products (?)</h2>
    <ul>
      <li><a href="/products">Products</a></li>
      <li><a href="/products/category">Products — Category</a></li>
      <li><a href="/products/series">Products — Series</a></li>
      <li><a href="/products/product">Products — Single Product</a></li>
    </ul>

    <h2>Applications (?)</h2>
    <ul>
      <li><a href="/applications">Applications</a></li>
      <li><a href="/applications/industry/template">Industry — Template</a></li>
      <li><a href="/applications/processes/template">Processes — Template</a></li>
    </ul>

    <h2>Services</h2>
    <ul>
      <li><a href="/services">Services</a></li>
      <li><a href="/services/technology">Technology</a></li>
      <li><a href="/services/software">Software</a></li>
    </ul>

    <h2>Resources</h2>
    <ul>
      <li><a href="/news">News — Index</a></li>
      <li><a href="/news/template">News — Template</a></li>
      <li><a href="/events">Events — Index</a></li>
      <li><a href="/events/template">Events — Template</a></li>
      <li><a href="/cases">Cases — Index</a></li>
      <li><a href="/cases/template">Cases — Template</a></li>
      <li><a href="/resources/downloads">Downloads</a></li>
      <li><a href="/resources/faq">FAQ</a></li>
    </ul>

    <h2>Other</h2>
    <ul>
      <li><a href="/contact">Contact us</a></li>
      <li><a href="/privacy-policy">Privacy Policy</a></li>
      <li><a href="/404">404</a></li>
    </ul>
  </Section>
</Layout>
