---
import Layout from '../layouts/Layout.astro'
import Section from '../components/ui/Section.astro'
---
<Layout title="DH-Robotics Technology">
  <Section>
    <h1>DH-Robotics Technology</h1>
    <ul>
      <li></li>
    </ul>
  </Section>
</Layout>
