---
import Layout from '../../layouts/Layout.astro'
import Section from '../../components/ui/Section.astro'
---
<Layout title="News Article">
  <Section>
    <h1>News Article</h1>
    <ul>
      <li></li>
    </ul>
  </Section>
</Layout>
