---
import Layout from '../../../layouts/Layout.astro'
import Section from '../../../components/ui/Section.astro'
---
<Layout title="processes template">
  <Section>
    <h1>processes — template</h1>
    <ul>
      <li></li>
    </ul>
  </Section>
</Layout>
