---
import Layout from '../../layouts/Layout.astro'
import Section from '../../components/ui/Section.astro'
---
<Layout title="Products">
  <Section>
    <h1>Products</h1>
    <ul>
      <li>1. Hero — title, текст, кнопка</li>
      <li>2. Текстовая секция</li>
      <li>3. Категории — слайдер серий по каждой категории: картинка, title, текст, кнопка "все серии категории" → /products/category</li>
      <li>4. FAQ</li>
      <li>4. Развилка</li>
    </ul>
  </Section>
</Layout>
