---
import Layout from '../../layouts/Layout.astro'
import Section from '../../components/ui/Section.astro'
---
<Layout title="Product Template 2">
  <Section>
    <h1>Product — Template 2</h1>
    <ul>
      <li></li>
    </ul>
  </Section>
</Layout>
