---
interface Props {
  class?: string
}
const { class: className } = Astro.props
---
<section class:list={["px-[5%] py-16", className]}>
  <div class="max-w-[1280px] mx-auto">
    <slot />
  </div>
</section>
